.menu {
	background: none;
	float: right;
	margin: 0px 15px -35px 0px;
}

.menu a,
.menu-item a {
	margin: -4px;
	background: url('img/neutral.png') no-repeat;
	background-color: transparent!important;
	font-family: opensans;
	font-size: 16px;
	border: none;
	width: 77px;
	height: 77px;
	padding: 27px 0px 0px 0px;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
}

#menu-item-91 a:hover,
#menu-item-1739 a:hover,
#menu-item-1586 a:hover,
#menu-item-91.current_page_item a,
#menu-item-1739.current_page_item a,
#menu-item-1586.current_page_item a {
	background: url('img/gray.png') no-repeat;
}

#menu-item-1740 a:hover,
#menu-item-188 a:hover,
#menu-item-188.current_page_item a,
#menu-item-1740.current_page_item a {
	background: url('img/purple.png') no-repeat;
}

#menu-item-90 a:hover,
#menu-item-89 a:hover,
#menu-item-90.current_page_item a,
#menu-item-89.current_page_item a {
	background: url('img/blue.png') no-repeat;
}

.sub-menu li {
	border: 0 !important;
	background: transparent !important;
	float: left !important;
}

ul.sub-menu {
	margin-top: -40px;
}